* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    min-width: 75vw;
    background-image: url("/static/images/bg-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

section.main-container {
    width: 100%;
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
}

.sub-content {
    width: 30%; 
    background-image: url("/static/images/Tolls.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    font-weight: 500;
    font-size: 1.3rem;
}

.side-shadow {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0,0,0,.07);
    color: greenyellow;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    mix-blend-mode: difference;
    margin-top: 100px;
}

footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #093b4d;
    color: white;
    height: 2rem;
}



input, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 600px;
    margin: 0 auto 100px;
    background: #fff;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.submit-button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}
.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url("${pageContext.request.contextPath}/static/images/Tolls.jpg");
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}
.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}
.img__text p {
    font-size: 14px;
    line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}
.img__text.m--in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}
.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}
.img__btn span.m--in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}
label span {
    font-size: 12px;
    color: #093b4d;
    text-transform: uppercase;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    background: #0a3c4d;
    text-transform: uppercase;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}
.fb-btn span {
    font-weight: bold;
    color: #455a81;
}

.sign-in {
    transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button-radius {
    border-radius: 5px !important;
}




/*-------------------------------------*/
.form.sign-up{
    padding-top: 10px;
}
.options{
    display: flex;
    justify-content: space-evenly;
    align-content: center;

}
.radioOption{
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
    font-size: 25px;

    align-items: center;
}
input.chooseOne{
    width: 20%;
}

.oneRow{
    display: flex;
    justify-content: space-evenly;
}

.customLabel{
    display: flex;
    align-items: center;
    font-weight: 300;

}
.forggoternPassword{
    width: 100%;
    /* font-size: 26px; */
    display: block;
    text-align: center;
}

ul{  display: flex;
     flex-direction: column;
     align-items: center;
}

.emp-container {
    display: none;
    width: 100%;
}

.stationGate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stationGate>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.stationGate>div label {
    margin: 0;
}

.emp-container label {
    margin: 25px auto;
}

.emp-container label~div{
    margin: 25px auto;
}

.payment-details {
    display: none;
}

#vehicles-container {
    display: flex;
    flex-flow: row nowrap !important;
    /*justify-content: center;*/
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 24% 0 10%;
}

#vehicles-container * {
    font-size: inherit;
    width: auto;
    margin: 0;
}

.radio-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radio-container input {
    margin-right: 10px !important;
}