.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /*footer*/
  footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #093b4d;
    color: white;

}

  .footerRow{
                padding-top: 30px;
                display: flex;
                justify-content: space-between;
            }
            .column2{
                display: flex;
                justify-content: space-around;
                flex-direction: column;

            }
            .column1{
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-self: flex-end;
            }